<nav class="navbar navbar-dark aq-navbar fixed-top">
    <div class="container-fluid">
        <div class="d-flex align-items-center">
            <button class="btn btn-link text-white d-lg-none me-2 p-0" type="button"
                    onclick="document.getElementById('aqSidebar').classList.toggle('show')">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                </svg>
            </button>
            <a class="navbar-brand mb-0" href="{% url 'web:dashboard' %}">AQNUS</a>
        </div>
        <ul class="navbar-nav ms-auto flex-row gap-3">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
            </li>
        </ul>
    </div>
</nav>
